<!DOCTYPE html>
<html>
<head>
	<title>ump</title>
</head>
<body>
     <div id="app">
     	{{message}}
        <span v-bind:title="msg">
        	aaaaaaaabbbbb
        </span>
        <span v-if="seen">see you.</span>
        <ol>
            <li v-for="todo in todos">
            	{{ todo.text }}
            </li>

        </ol>

        <button v-on:click="reverseMsg">send smsg</button>
        <input type="text" v-model="username">
     </div>

    
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="text/javascript">
    	var app = new Vue({
    		el:'#app',
    		data:{
    			message:'Hello world',
    			msg : '页面加载于 '+ new Date().toLocaleString(),
    			seen : true,
    			todos :[
                    {text:'javascript'},{text:'cc'},{text:'java'}
    			],
    			username :'zhangsan'
    		},
    		methods:{
    			reverseMsg : function(){
    				this.message = this.message.split('').reverse().join('')
    			}
    		}
    	});


      

    </script>
    
</body>
</html>