<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.ump.mapper.biz.DictMapper">
	<resultMap id="DictResultMap"
		type="com.ump.entity.sys.DictEntity"
		extends="com.ump.entity.BaseEntity.BaseResultMap">
	</resultMap>
	<select id="queryDictList"
		parameterType="com.ump.entity.sys.DictEntity"
		resultType="com.ump.entity.sys.DictEntity">
		SELECT * FROM s_dict su
	</select>

    <insert id="saveDict" parameterType="com.ump.entity.sys.DictEntity">
      insert into s_dict(dict_id) values(#{dictId})
    </insert>

</mapper>