<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.ump.mapper.sys.LogMapper">
	<resultMap id="LogResultMap"
		type="com.ump.entity.sys.LogEntity"
		extends="com.ump.entity.BaseEntity.BaseResultMap">
	</resultMap>
	<select id="queryLogList"
		parameterType="com.ump.entity.sys.LogEntity"
		resultType="com.ump.entity.sys.LogEntity">
		SELECT * FROM s_log su
	</select>

</mapper>