<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="app.name" value="umpapp" />
	<property name="log.path" value="D:/applog/" />
	<property name="log.charset" value="UTF-8" />
	<property name="log.maxHistory" value="30" />
	<property name="log.pattern"
		value="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{66} - %msg%n" />
	<property name="log.error.log.level" value="WARN" />
	<property name="log.async.queue.size" value="1024" />

	<contextName>${app.name}</contextName>
	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="${log.charset}">
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.path}${app.name}.log</File>
		<Append>true</Append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.path}${app.name}-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>${log.maxHistory}</maxHistory>


		</rollingPolicy>

		<encoder charset="${log.charset}">
			<pattern>${log.pattern}</pattern>
		</encoder>


	</appender>

	<!-- 日志级别 -->
	<root>
		<!-- 定义了ERROR和INFO级别的日志，分别在FILE文件和控制台输出 -->
		<level value="error" />
		<level value="info" />
		<level value="trace" />
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</root>
	<!-- <logger name="com.xxx" additivity="false"> <level value="info" /> <appender-ref ref="file" /> <appender-ref 
		ref="console" /> </logger> -->
	<logger name="dao" level="DEBUG" />
</configuration>  