<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.ump.entity.BaseEntity">
	<resultMap id="BaseResultMap"
		type="com.ump.entity.BaseEntity">
		<result column="is_del" property="isDel" />
		<result column="crt_time" property="crtTime" />
		<result column="crt_user" property="crtUser" />
		<result column="crt_dept" property="crtDept" />
		<result column="crt_time" property="crtTime" />
		<result column="mod_user" property="modUser" />
		<result column="mod_dept" property="modDept" />
		<result column="mod_time" property="modTime" />
	</resultMap>
</mapper>