<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jdbc
	http://www.springframework.org/schema/context/spring-jdbc.xsd "
	default-lazy-init="true" >

	<!-- 配置权限管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- ref对应我们写的realm MyShiro <property name="realm" ref="userRealm" /> -->
		<!--认证管理器 -->
		<property name="realms">
			<list>
				<ref bean="userRealm" />
			</list>
		</property>
		<!-- 缓存管理器 -->
		<property name="cacheManager" ref="cacheManager" />

		<!-- rememberMe管理器 -->
		<!-- <property name="rememberMeManager" ref="rememberMeManager" /> <property name="sessionManager" ref="sessionManager" /> <property name="rememberMeManager" 
			ref="rememberMeManager" /> -->
	</bean>

	<!-- rememberMe管理器 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('7gzYfKjTASKdsai43ds==')}" />
		<property name="cookie" ref="rememberMeCookie" />
	</bean>
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="rememberMe" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="2592000" /><!-- 30天 -->
	</bean>

	<!-- 会话ID生成器 -->
	<bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator" />

	<!-- 会话Cookie模板 -->
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="sid" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="-1" />
	</bean>

	<!-- Realm实现 -->
	<bean id="userRealm" class="com.ump.cfn.shiro.service.impl.UserRealm">
		<property name="credentialsMatcher" ref="passwordMatcher" />
	</bean>
	<bean id="passwordMatcher" class="com.ump.cfn.shiro.authc.credential.LimitRetryHashedMatcher">
		<property name="hashAlgorithmName" value="md5"></property>
		<property name="hashIterations" value="2"></property>
		<property name="storedCredentialsHexEncoded" value="true"></property>
	</bean>
	<!-- 配置Shiro核心Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 安全管理器 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 未认证，跳转到哪个页面 -->
		<property name="loginUrl" value="/login/loginIndex" /><!-- ${ca.server.url} -->

		<!-- 登录成功后要跳转的连接(本例中此属性用不到，因为登录成功后的处理逻辑在LoginController里硬编码) <property name="successUrl" value="/backstage/user/index" /> -->
		<!-- 用户访问未对其授权的资源时，所显示的连接 -->
		<property name="unauthorizedUrl" value="/unauthorized" />
		<property name="filters">
			<map>
				<entry key="anyofroles" value-ref="anyofroles" />
			</map>
		</property>
		<property name="filterChainDefinitionMap" ref="filterChainDefinitionMap" />
	</bean>

	<!-- 自定义的过滤器，用来判断当前用户是否是roleOrFilter["comm,test"]中的某个角色 -->
	<bean id="anyofroles" class="com.ump.cfn.shiro.filter.authz.AnyOfRolesAuthorizationFilter" />

	<bean id="filterChainDefinitionMap" factory-bean="filterChainDefinitionMapBuilder" factory-method="buildFilterChainDefinitionMap" />
	<bean id="filterChainDefinitionMapBuilder" class="com.ump.cfn.shiro.service.impl.FilterChainDefinitionMapBuilder" />
	<!-- 缓存管理器 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:/config/cache/ehcache.xml" />
	</bean>

	<!-- 配置lifecycleBeanPostProcessor， 可以自动的来调用配置在spring IOC 容器中shiro bean的生命周期方法 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>