<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans.xsd ">

	<!-- 加载配置JDBC文件 <context:property-placeholder location="classpath:config/database.properties,classpath:config/env.properties" /> -->
	<bean id="propertyConfigurer" class="com.ump.core.util.EncryptPropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="encryptedProps">
			<list>
				<value>jdbc.username</value>
				<value>jdbc.password</value>
			</list>
		</property>
		<property name="locations">
			<list>
				<value>classpath:config/database.properties</value>
				<value>classpath:config/env.properties</value>
			</list>
		</property>
	</bean>

	<!-- 配置DataSource数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${initialSize}" />
		<!-- 连接池最大数量 <property name="maxActive" value="${maxActive}" /> -->
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${maxIdle}" />
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${minIdle}" />
		<!-- 获取连接最大等待时间 <property name="maxWait" value="${maxWait}" /> -->
		<!-- 连接池的最大值，同一时间可以从池分配的最多连接数量，0时无限制 默认值是8 -->
		<property name="maxTotal" value="15" />
	</bean>
</beans>  